<!DOCTYPE html>
<html>
  <head>
    <title>Book your lot</title>
  </head>
  <body>
    <div id="header">
      <div id="header-title"><span id="b1">p</span>ar<span id="b2">k</span>M<span id="b3">y</span>Ca<span id="b4">r</span></div>
    </div>
    <div id="navbar">
      <span id="home">Home</span>
      <span id="aboutUs">About us</span>
      <span id="bookNow"><a href="#bookingOptions">Book now</a></span>
    </div>
    <!-- <div id="mainMap"></div> -->

    <h1>Fees for pre-booking: Rs. 20</h1>

    <form>
      Enter car number: <input type="text" /><br />
      Enter mobile no.: <input type="text" /><br />
      <button id="bookButton">Book Now</button>
    </form>

    <script src="https://apis.mapmyindia.com/advancedmaps/v1/abydbc639iixt3v6powmr2xrjj11dhey/map_load?v=1.3"></script>
    <script src="assets/public.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/styles.css" />
  </body>
</html>
